src/main/mule/apisecure.xml
<?xml version="1.0" encoding="UTF-8"?>

<mule xmlns:tls="http://www.mulesoft.org/schema/mule/tls" xmlns:ee="http://www.mulesoft.org/schema/mule/ee/core"
	xmlns:http="http://www.mulesoft.org/schema/mule/http"
	xmlns="http://www.mulesoft.org/schema/mule/core" xmlns:doc="http://www.mulesoft.org/schema/mule/documentation" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://www.mulesoft.org/schema/mule/core http://www.mulesoft.org/schema/mule/core/current/mule.xsd
http://www.mulesoft.org/schema/mule/http http://www.mulesoft.org/schema/mule/http/current/mule-http.xsd
http://www.mulesoft.org/schema/mule/ee/core http://www.mulesoft.org/schema/mule/ee/core/current/mule-ee.xsd
http://www.mulesoft.org/schema/mule/tls http://www.mulesoft.org/schema/mule/tls/current/mule-tls.xsd">
	<http:listener-config name="HTTP_Listener_config" doc:name="HTTP Listener config" doc:id="b767a4cc-09e9-426f-9b5c-899b57ac080d" >
		<http:listener-connection protocol="HTTPS" host="0.0.0.0" port="${https.port}" >
			<tls:context >
				<tls:key-store type="jks" path="ssl/keystore.jks" alias="mule" keyPassword="password" password="password" />
			</tls:context>
		</http:listener-connection>
	</http:listener-config>
	<configuration-properties doc:name="Configuration properties" doc:id="e1edda9c-24a9-4e1b-ba2c-2911b88992b9" file="port.properties" />
	<flow name="apisecureFlow" doc:id="6f352d4b-6bd4-4bc8-a120-c455bb7d04a1" >
		<http:listener doc:name="Listener" doc:id="7b86ecfc-6df6-4563-815d-951e725a68cb" path="/show" config-ref="HTTP_Listener_config"/>
		<flow-ref doc:name="Flow Reference" doc:id="2ad75e9d-156b-4f0e-b461-2566863d90ef" name="processlayerFlow"/>
		<logger level="INFO" doc:name="Logger" doc:id="ecb51e8f-4ee9-4437-8954-53c8f12b3b1e" message="#[payload]"/>
	</flow>
</mule>
